<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ASC_CASH_VALIDSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/cash/ASC_CASH_VALID.asmx"
                binding="basicHttpBinding" bindingConfiguration="ASC_CASH_VALIDSoap"
                contract="AscCashValid.ASC_CASH_VALIDSoap" name="ASC_CASH_VALIDSoap" />
        </client>
    </system.serviceModel>
</configuration>