<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PayMedia.Integration.IFComponents.BBCL.PrepaidVoucher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <PayMedia.Integration.IFComponents.BBCL.PrepaidVoucher.Properties.Settings>
            <setting name="PayMedia_Integration_IFComponents_BBCL_PrepaidVoucher_AscCashValid_ASC_CASH_VALID"
                serializeAs="String">
                <value>http://localhost/cash/ASC_CASH_VALID.asmx</value>
            </setting>
        </PayMedia.Integration.IFComponents.BBCL.PrepaidVoucher.Properties.Settings>
    </applicationSettings>
</configuration>